@media (min-width: 1200px)
{
    /*-----------------
		Animate
	-----------------*/
    .fadeIn
    {
        visibility: hidden;

        opacity: 0;

        transition-timing-function: ease;
        transition-property: opacity,visibility;
    }

    .fadeInUp
    {
        visibility: hidden;

        opacity: 0;

        transition-timing-function: ease;
        transition-property: opacity,transform,visibility;
        transform: translate(0,40px);
    }

    .fadeInDown
    {
        visibility: hidden;

        opacity: 0;

        transition-timing-function: ease;
        transition-property: opacity,transform,visibility;
        transform: translate(0,-40px);
    }

    .fadeInRight
    {
        visibility: hidden;

        opacity: 0;

        transition-timing-function: ease;
        transition-property: opacity,transform,visibility;
        transform: translate(40px,0);
    }

    .fadeInLeft
    {
        visibility: hidden;

        opacity: 0;

        transition-timing-function: ease;
        transition-property: opacity,transform,visibility;
        transform: translate(-40px,0);
    }

    .fadeZoom
    {
        visibility: hidden;

        transition-timing-function: ease-in;
        transition-property: opacity,transform,visibility;
        transform: scale(0);
    }

    .fadeInZoom{
        opacity: 0;
        transform: scale(0.5);

        /* transition-timing-function: linear;
        transition-property: opacity,transform;

        transition-duration: 1s; */

        
    }


    .animAfterH::after
    {
        content: "";

        position: absolute;
        z-index: 10;
        bottom: -1px;
        left: -1px;

        width: calc(100% + 2px);
        height: calc(100% + 2px);

        background: #F3F3F3;

        transition: height 1s ease-in-out;
    }

    .animated.animAfterH::after,
    .animated .animAfterH::after
    {
        height: 0;
    }


    .animated.fadeInUp,
    .animated .fadeInUp,
    .animated.fadeInRight,
    .animated .fadeInRight,
    .animated.fadeInLeft,
    .animated .fadeInLeft,
    .animated.fadeInDown,
    .animated .fadeInDown
    {
        visibility: visible;

        opacity: 1;

        transition-duration: 1s;
        transform: none;
    }

    .animated.fadeIn,
    .animated .fadeIn
    {
        visibility: visible;

        opacity: 1;

        transition-duration: 1s;
    }

    .animated.fadeZoom,
    .animated .fadeZoom
    {
        visibility: visible;

        transition-duration: 1s;
        transform: scale(1);
    }

    ._run .fadeInZoom
    {
        animation: moveScale 3s linear forwards;
    }

    @keyframes moveScale {
        0% {
            opacity: 0;
            transform: scale(.5);
            filter: blur(0);
        }
        50% {
            opacity: 1;
            transform: scale(1);
            filter: blur(0);
        }
        100% {
            opacity: 0;
            transform: scale(1.5);
            filter: blur(5px);
        }
    }


    .animated
    {
        transition-delay: .3s;
    }

    .animated[data-delay="1"],
    .animated [data-delay="1"],
    .animated[data-delay="1"]::after,
    .animated [data-delay="1"]::after
    {
        transition-delay: .1s;
    }

    .animated[data-delay="2"],
    .animated [data-delay="2"],
    .animated[data-delay="2"]::after,
    .animated [data-delay="2"]::after
    {
        transition-delay: .2s;
    }

    .animated[data-delay="3"],
    .animated [data-delay="3"],
    .animated[data-delay="3"]::after,
    .animated [data-delay="3"]::after
    {
        transition-delay: .3s;
    }

    .animated[data-delay="4"],
    .animated [data-delay="4"],
    .animated[data-delay="4"]::after,
    .animated [data-delay="4"]::after
    {
        transition-delay: .4s;
    }

    .animated[data-delay="5"],
    .animated [data-delay="5"],
    .animated[data-delay="5"]::after,
    .animated [data-delay="5"]::after
    {
        transition-delay: .5s;
    }

    .animated[data-delay="6"],
    .animated [data-delay="6"],
    .animated[data-delay="6"]::after,
    .animated [data-delay="6"]::after
    {
        transition-delay: .6s;
    }

    .animated[data-delay="7"],
    .animated [data-delay="7"],
    .animated[data-delay="7"]::after,
    .animated [data-delay="7"]::after
    {
        transition-delay: .7s;
    }

    .animated[data-delay="8"],
    .animated [data-delay="8"],
    .animated[data-delay="8"]::after,
    .animated [data-delay="8"]::after
    {
        transition-delay: .8s;
    }

    .animated[data-delay="9"],
    .animated [data-delay="9"],
    .animated[data-delay="9"]::after,
    .animated [data-delay="9"]::after
    {
        transition-delay: .9s;
    }

    .animated[data-delay="10"],
    .animated [data-delay="10"],
    .animated[data-delay="10"]::after,
    .animated [data-delay="10"]::after
    {
        transition-delay: 1s;
    }

    .animated[data-delay="11"],
    .animated [data-delay="11"],
    .animated[data-delay="11"]::after,
    .animated [data-delay="11"]::after
    {
        transition-delay: 1.1s;
    }

    .animated[data-delay="12"],
    .animated [data-delay="12"],
    .animated[data-delay="12"]::after,
    .animated [data-delay="12"]::after
    {
        transition-delay: 1.2s;
    }

    .animated[data-delay="15"],
    .animated [data-delay="15"],
    .animated[data-delay="15"]::after,
    .animated [data-delay="15"]::after
    {
        transition-delay: 1.5s;
    }

    .animated[data-delay="18"],
    .animated [data-delay="18"],
    .animated[data-delay="18"]::after,
    .animated [data-delay="18"]::after
    {
        transition-delay: 1.8s;
    }

    .animated[data-delay="21"],
    .animated [data-delay="21"],
    .animated[data-delay="21"]::after,
    .animated [data-delay="21"]::after
    {
        transition-delay: 2.1s;
    }

    .animated[data-delay="24"],
    .animated [data-delay="24"],
    .animated[data-delay="24"]::after,
    .animated [data-delay="24"]::after
    {
        transition-delay: 2.4s;
    }

    .animated[data-delay="27"],
    .animated [data-delay="27"],
    .animated[data-delay="27"]::after,
    .animated [data-delay="27"]::after
    {
        transition-delay: 2.7s;
    }

    .animated[data-delay="30"],
    .animated [data-delay="30"],
    .animated[data-delay="30"]::after,
    .animated [data-delay="30"]::after
    {
        transition-delay: 3s;
    }

    .animated[data-delay="33"],
    .animated [data-delay="33"],
    .animated[data-delay="33"]::after,
    .animated [data-delay="33"]::after
    {
        transition-delay: 3.3s;
    }

    .animated[data-delay="36"],
    .animated [data-delay="36"],
    .animated[data-delay="36"]::after,
    .animated [data-delay="36"]::after
    {
        transition-delay: 3.6s;
    }
}