@media (max-width: 1023px)
{
	._lock-menu{
		overflow: hidden;
	}

	.header
	{
		border-bottom: 1px solid #D0C7C0;
	}

	.header._main
	{
		border-bottom: none;
	}

	.header .cont
	{
		flex-wrap: wrap;
	}

	.header__wrap
    {
        position: fixed;
        z-index: 60;
        top: 0;
        left: 0;

        display: flex;
		flex-direction: column;

        visibility: hidden;
        overflow: hidden;
        overflow-y: auto;

        width: 100%;
		height: 100%;

		padding: 30px 30px 40px;

        pointer-events: none;

        opacity: 0;
        background: #fff;

        transition: opacity .2s linear, visibility .2s linear;
    }

    .header__wrap._show
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }

	.header__wrap-top
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}
	


	.header__btn + .header__btn 
	{
		margin-left: 30px;
	}

	.header__btn-burger
	{
		display: flex;
		width: 24px;
	}

	.header__btn-burger span{
		display: block;
		width: 100%;
		height: 1px;
		border-radius: 1px;
		background: currentColor;
	}

	.header__btn-burger span + span{
		margin-top: 5px;
	}

	.header-catalog__open, 
	.header-cats__close 
	{
		font-size: 14px;
		line-height: 20px;
	}

	.header__logo-mob
	{
		display: block;
		width: 100%;
		margin-bottom: 30px;
	}

	.header__logo-mob img
	{
		margin: 0 auto;
	}


	.header-cats
	{
		position: fixed;
		top: 0;
		height: 100%;
        overflow-y: auto;

		background: #fff;
	}

	.header-cats__wrap
	{
		padding: 0px 10px 40px;
		margin-top: 10px;
	}

	.header-cats__close
	{
		width: 20px;
		height: 20px;
		padding-left: 0;
	}

	.header-cats__close span
	{
		display: none;
	}

	.header-cats__close::before
	{
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		background: url(../images/close_dark.svg) 50% 50% no-repeat;
	}

	.header-cats__top
	{
		padding: 30px 10px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.header-cats__logo
	{
		display: block;
	}

	.header-cats__logo img
	{
		display: block;
		max-width: 127px;
	}

	.header-cats__title
	{
		display: none;
	}

	.header-cats__items
	{
		margin: 0;
	}

	.header-cats__item
	{
		margin: 0;
		width: 100%;
	}

	.header-cats__name
	{
		font-size: 16px;
		padding: 15px 20px 14px 0;
		position: relative;
		border-top: 1px solid #DEDDDC;
	}

	.header-cats__item:first-child .header-cats__name
	{
		border-top: 1px solid transparent;
	}

	.header-cats__data
	{
		margin-top: 0;
		display: none;
		padding-bottom: 15px;
	}

	.header-cats__data._show
	{
		display: block;
	}

	.header-cats__name + .header-cats__name
	{
		margin-top: 0;
	}

	.header-cats__item-open
	{
		position: relative;
		cursor: pointer;
	}

	.header-cats__item-open::after
	{
		position: absolute;
		content: '';
		top: 50%;
		right: 0;

		display: block;

		width: 14px;
		height: 9px;

		margin-top: -4.5px;

		background: url(../images/ic_arrow2.svg) 50% 50% no-repeat;
	}

	.header-cats__item-open._active::after 
	{
		transform: rotate(180deg);
	}


	.header__wrap .header__logo
	{
		display: none;
	}

	.nav-menu
	{
		display: block;
		margin-top: auto;
	}

	.nav-menu__box
	{
		display: block;
	}

	.nav-menu__item
	{
		margin-top: 15px;
		font-size: 16px;
	}

	.nav-menu__item + .nav-menu__item
	{
		margin-left: 0;
	}

	.nav-menu__item a
	{
		color: #2C2927;
	}


	.header__socials
	{
		display: flex;

		margin-top: 40px;
		margin-bottom: 30px;
	}

	.header__contacts
	{
		display: block;
		/* margin-top: 150px; */
		margin-top: auto;
	}


	.overlay-catalog
	{
		display: none;
	}


	.head-section
	{
		padding-right: 0;
	}


	.first-section
	{
		padding-top: 140px;
	}

	.first-section__abs1,
	.first-section__abs2
	{
		display: none;
	}

	.first-section__info
	{
		width: 100%;
		order: 2;
		text-align: center;
	}

	.first-section__bot,
	.first-section__btn 
	{
		margin-top: 20px;
	}

	.first-section__desc
	{
		font-size: 14px;
	}

	.first-section__col
	{
		width: 100%;
		padding-top: 0;
	}

	.first-section__img
	{
		height: 194px;
		position: relative;
		bottom: -22px;
	}

	.first-section__video
	{
		display: none;
	}


	.main-cats__item + .main-cats__item
	{
		margin-left: 16px;
	}

	.main-cats__img
	{
		width: 70px;
		height: 70px;
	}

	.main-cats__name
	{
		margin-top: 10px;
	}


	.products .head-section{
		padding-right: 0;
	}


	.products-slider .swiper-overflow{
		overflow: visible;
	}

	.products-slider .swiper-slide
	{
		width: 280px;
	}

	.product__img
	{
		aspect-ratio: 280 / 380;
	}

	.product__title
	{
		font-size: 14px;
	}

	.product__name
	{
		font-size: 16px;
		margin-top: 0;
	}

	.product__info-title 
	{
		font-size: 22px;
	}

	.product__desc
	{
		font-size: 14px;
	}

	.product__trip
	{
		margin-top: 20px;
	}

	.tabs__marg 
	{
		margin-left: 0;
		width: 100%;
		margin-top: 20px;
	}

	.products-slider .slider-button-prev,
	.products-slider .slider-button-next
	{
		display: none;
	}


	.choose-product__info
	{
		width: 100%;
	}

	.choose-product__title
	{
		font-size: 30px;
	}

	.choose-product__wrap
	{
		width: 100%;
		margin-top: 16px;
		margin-left: 0;
	}

	.choose-product__tabs
	{
		flex-wrap: wrap;
		margin-left: -15px;
	}

	.tabs__button_number
	{
		margin-left: 15px;
	}

	.choose-product__tabs-title
	{
		width: 100%;
		order: 2;
		margin-left: 0;
		margin-top: 24px;
	}

	.choose-slider .swiper-overflow
	{
		overflow: visible;
	}

	.choose-slider .swiper-slide
	{
		width: 280px;
	}

	.choose-slider .slider-button-prev,
	.choose-slider .slider-button-next
	{
		display: none;
	}

	.choose-slider__img
	{
		aspect-ratio: 280 / 140;
	}

	.choose-size__abs2 
	{
		margin-right: -65px;
	}

	.choose-size__abs1
	{
		right: 50%;
		margin-right: -145px;
	}

	.choose-slider__name
	{
		padding: 20px 30px;
	}


	.main-purpose__item
	{
		width: calc(100% / 2 - 16px);
	}

	.main-purpose__name
	{
		font-size: 16px;
	}


	.advantages__title 
	{
		font-size: 40px;
	}

	.advantages__img 
	{
		max-width: 350px;
	}

	.advantages__pad 
	{
		padding-left: 40px;
	}


	.portfolio__info
	{
		display: none;
	}

	.portfolio__slider .swiper-overflow{
		overflow: visible;
	}

	.portfolio__slider .swiper-slide
	{
		width: 280px;
	}

	.portfolio__img img
	{
		aspect-ratio: 280 / 340;
	}

	.portfolio__flex .portfolio__img img 
	{
		aspect-ratio: 132 / 162;
	}

	.portfolio__flex .portfolio__name
	{
		font-weight: 400;
	}

	.portfolio__slider .slider-button-prev,
	.portfolio__slider .slider-button-next
	{
		/* display: none; */
	}


	.choose-size__wrap
	{
		flex-wrap: wrap;
		padding: 40px 30px 228px;
		text-align: center;
	}

	.choose-size__title
	{
		width: 100%;
		font-size: 30px;
	}

	.choose-size__desc
	{
		width: 100%;
		max-width: 100%;
		margin-top: 20px;
	}

	.choose-size__link
	{
		margin: 20px auto 0;
	}

	.choose-size__bg::after 
	{
		background: radial-gradient(circle at 40% 75%, rgba(44, 41, 39, 0) 0%, rgba(44, 41, 39, 0.57) 25%, rgba(44, 41, 39, 1) 100%);
	}

	.choose-size__bg img
	{
		object-position: 50% 0;
	}


	.main-news__grid
	{
		grid-template-columns: repeat(2, 1fr);
	}

	.main-news__name
	{
		font-size: 16px;
	}


	.footer
	{
		padding: 40px 0;
	}

	.footer__col:first-child
	{
		width: calc(100% / 1 - 20px);
		margin-top: 0;
	}

	.footer__col
	{
		width: calc(100% / 2 - 20px);
		margin-top: 30px;
	}
	

	.footer__links 
	{
		margin-left: -20px;
		margin-top: -20px;
	}

	.footer__link 
	{
		margin-left: 20px;
	}

	.footer__bot
	{
		padding-top: 0;
	}


	.head-page__col
	{
		width: 100%;
	}

	.head-page__col + .head-page__col
	{
		margin-top: 16px;
	}


	.inner-cats__item
	{
		width: calc(100% / 4 - 16px);
	}

	.inner-cats__name
	{
		font-size: 16px;
	}


	.faq__col
	{
		width: 100%;
	}

	.faq__col + .faq__col
	{
		margin-top: 16px;
	}

	.faq__box
	{
		position: relative;
		top: 0;
	}


	.content__flex
    {
        margin-left: 0;
		margin-top: 30px;
    }

	.content__center
    {
        width: 100%;
        margin-left: 0;
    }

	._filter-open-mob
    {
        overflow: hidden;
    }

    .aside-filter
    {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;

        visibility: hidden;

        width: 100%;
        height: 100%;
        margin: 0;

        pointer-events: none;
		background: #fff;

        opacity: 0;

        transition: opacity .2s linear, visibility .2s linear;
    }

    .aside-filter._show
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }

    .filter
    {
        overflow: hidden;
        overflow-y: auto;

        height: 100%;
        padding: 0 20px 20px;
    }

	.filter-head
	{
		display: block;
	}


	.filter-use
	{
		order: 3;

		max-width: calc(100% - 94px);
	}

	.filter-use__flex
	{
		overflow: hidden;
		overflow-x: auto;
		max-width: calc(100% + 20px);
		width: auto;
		padding-right: 20px;

		flex-wrap: nowrap;
		margin: 0;
		margin-right: -20px;
	}

	.filter-use__item
	{
		flex-shrink: 0;
		margin: 0;
	}

	.filter-use__item + .filter-use__item
	{
		margin-left: 10px;
	}


	.filter-open
	{
		display: block;
	}


	.sorting
	{
		margin: 0;
		margin-right: 10px;
	}

	.select-sort .nice-select .current
	{
		font-size: 0;
		background: #fff;
		width: 37px;
		height: 37px;
		border-radius: 50%;
		padding-right: 0;
	}

	.select-sort .nice-select .current:after
	{
		right: 50%;
		width: 25px;
		height: 25px;

		margin-top: 0;

		transform: translate(50%, -50%);

		background: url(../images/ic_sort_mob.svg) 50% 50% no-repeat;
	}

	.select-sort .nice-select .list
	{
		right: auto;
		left: 0;
	}


	.product-info__images
	{
		width: 68%;
        margin: 0 auto;
	}

	.product-thumbs 
	{
		width: 100px;
		height: 520px;
	}

	.product-images 
	{
		position: relative;
		width: calc(100% - 105px);
	}

	.product-info__info
	{
		width: 100%;
		margin-top: 40px;
	}


	.cart-table tbody 
	{
		display: block;
	}

	.cart-table tr
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		border-bottom: 1px solid #DEDDDC;
	}

	.cart-table tr + tr
	{
		margin-top: 20px;
	}

	.cart-table td 
	{
		display: block;

		padding: 0;
		border: none;
		margin-bottom: 20px;
	}

	.cart-table td.cart-table__thumb
	{
		width: 80px;
	}

	.cart-table td.cart-table__info
	{
		width: calc(100% - 100px);
		margin-left: 20px;
	}

	.cart-table__size + .cart-table__size
	{
		margin-left: 20px;
	}

	.cart-table__prices
	{
		margin-left: auto;
		margin-right: 20px;
	}


	.section-cart__items
	{
		margin-top: 40px;
	}

	.section-cart__item
	{
		width: calc(50% - 8px);
		margin-top: 20px;
	}

	.form-code__flex
	{
		width: 100%;
	}

	.free-ship
	{
		max-width: 100%;
	}

	.points
	{
		text-align: right;
	}

	.points__flex
	{
		justify-content: flex-end;
	}


	.cart-products__slider .swiper-overflow
	{
		overflow: visible;
	}

	.cart-products__slider .swiper-slide
	{
		width: 260px;
	}

	.cart-products__slider .slider-button-next,
	.cart-products__slider .slider-button-prev
	{
		display: none;
	}
	/*------------
		commit
	------------*/
	.main-about {
		background-size: 200% auto;
		background-position: 50% 100%;
	}

	.main-about__colr{
		margin-left: 24px;
	}

	.main-about__item .cont {
		max-height: 600px;
	}

	.main-about__name {
		font-size: 70px;
	}

	.main-about__name {
		top: 33%;
	}


	.main-info__tabs{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	.main-info .tabs__button_icon{
		width: auto;
		min-width: 87px;
		padding: 0 7px;
	}

	.tabs__button_icon + .tabs__button_icon {
		margin-top: 0;
	}

	.advantages__tabs .tabs__button_icon{
		width: auto;
		min-width: 87px;
		padding: 0;
	}

	.advantages__tabs .tabs__button_icon + .tabs__button_icon{
		margin-left: 0;
	}

	.main-info .tabs__button-icon {
		width: 60px;
		height: 60px;
	}

	.main-info__col{
		width: 100%;
	}

	.main-info__col + .main-info__col{
		margin-top: 24px;
	}

	.main-info__btn{
		margin-top: 24px;
	}

	.main-info__images{
		display: none;
	}

	.main-info__img{
		margin-top: 0;
	}

	.main-info__col._flex{
		flex-wrap: wrap;
	}

	.main-info__gallery{
		width: calc(100% + 40px);
		flex-wrap: nowrap;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 4px;
		padding-right: 20px;
		overflow: hidden;
		overflow-x: auto;
		flex-wrap: nowrap;
	}

	.main-info__gallery::-webkit-scrollbar{
		display: none;
	}

	.main-info__gallery .main-info__img:first-child{
		width: 280px;
		flex-shrink: 0;
	}

	.main-info__gallery .main-info__img{
		width: 280px;
		flex-shrink: 0;
	}

	.main-info__img img {
		aspect-ratio: 280 / 380;
	}

	.main-info__gallery .main-info__img:first-child img {
		aspect-ratio: 280 / 380;
	}

	.main-info__img1{
		width: 280px;
		margin-left: 16px;
		flex-shrink: 0;
	}

	.main-info__images-flex{
		width: auto;
		flex-shrink: 0;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: nowrap;
	}

	.main-info__video{
		margin: 32px auto 0;
		width: 100%;
		max-width: 400px;
	}

	.main-info__video-box {
        padding-top: 23px;
        padding-bottom: 20px;
    }

	.main-info__title {
		font-size: 32px;
	}

	.main-info__desc{
		margin-top: 24px;
		width: 100%;
	}

	.main-info__top{
		height: auto !important;
	}

	.main-info {
		padding-top: 30px;
	}

	.discounts__grid {
        grid-template-columns: 1fr;
    }


	.discounts .main-title._pad-right{
		padding-right: 0;
	}

	.discounts__slider .swiper-overflow{
		overflow: visible;
	}

	.discounts__slider .discounts__item{
		width: 260px;
	}

	.discounts__slider .discounts__item-box{
		padding-left: 30px;
	}

	.discounts__slider .slider-button-prev,
	.discounts__slider .slider-button-next{
		display: none;
	}


	.section-info__wrap{
		padding-left: 0;
	}

	.section-info__back{
		position: relative;
		margin-bottom: 20px;
	}

	.section-info__wrap .text-block{
		max-width: none;
	}


	.title-big{
		font-size: 50px;
	}
}