@media (max-width: 1399px)
{
    body
	{
		font-size: 15px;
	}
	

	.main-title,
	.page-title,
	.checkout-total__total-val
	{
        font-size: 36px;
    }


	.header-cats__wrap
	{
		padding: 25px;
	}

	.nav-menu__item + .nav-menu__item 
	{
        margin-left: 20px;
    }


	.first-section__title 
	{
        font-size: 64px;
    }

	.first-section__img 
	{
        height: 260px;
    }

	.first-section__abs1
	{
		height: 350px;
	}

	.first-section__abs2
	{
		height: 170px;
		border-radius: 50px;
	}

	.first-section__desc 
	{
        font-size: 17px;
    }


	.main-cats__item + .main-cats__item 
	{
		margin-left: 30px;
	}


	.product__top, 
	.product__bot 
	{
        padding: 20px;
    }

	.product__price
	{
		font-size: 19px;
	}

	.product__info
	{
		padding: 20px;
	}


	.product__info-title
	{
		font-size: 26px;
	}

	.product__day
	{
		font-size: 20px;
	}

	.choose-product__title
	{
		font-size: 28px;
	}

	.choose-product__tabs-title 
	{
        font-size: 17px;
    }


	.advantages__title 
	{
        font-size: 54px;
    }

	.advantages__pad 
	{
        padding-left: 90px;
    }


	.main-news__title 
	{
        font-size: 24px;
        padding: 25px;
    }


	.consultation__info 
	{
		width: 440px;
	}

	.consultation__form 
	{
		width: calc(100% - 470px);
	}


	.product-thumbs 
	{
		width: 80px;
		height: 420px;
	}

	.product-images 
	{
		width: calc(100% - 85px);
	}

	.product-info__bg
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.product-info__box
	{
		margin-left: -20px;
	}

	.product-info__box-item
	{
		margin-left: 20px;
	}

	.product-info__price,
	.product-info__old-price
	{
		font-size: 19px;
	}

	.product-info__links .product-info__link 
	{
		width: calc(100% / 3 - 30px);
	}


	.free-ship 
	{
        max-width: 350px;
    }

	.total-cart__val
	{
		font-size: 36px;
	}


	.radios__item 
	{
		width: calc(100% / 3 - 16px);
	}

	.radio-big 
	{
        width: calc(100% / 2 - 16px);
    }

	.costumer-head__title 
	{
        font-size: 52px;
    }

	.certs__item
	{
		padding: 20px;
	}

	.certs__price 
	{
        font-size: 26px;
    }


	.costumer-info__title
	{
		font-size: 21px;
	}
	/*------------
		commit
	------------*/
	.main-about__name {
        font-size: 110px;
    }

	.main-about__name{
		top: 28%;
	}

	.main-info__title {
        font-size: 110px;
    }

	.main-info__desc{
		margin-top: 30px;
		font-size: inherit;
	}

	.tabs__button_icon + .tabs__button_icon {
		margin-top: 16px;
	}


	._padt{
		padding-top: 60px;
	}

	._padb{
		padding-bottom: 60px;
	}

	._marg
	{
		margin-top: 60px;
	}

	.main-about__item .cont{
		max-height: 800px;
	}


	.discounts__item-box {
		padding-left: 16px;
	}


	.advantages-page__top{
		margin-top: 80px;
	}

	.advantages-page__top-item._small{
		margin-bottom: 6%;
	}

	.advantages-page__info{
		margin-top: 80px;
	}

	.advantages-page__bot{
		margin-top: 80px;
	}
}