@media (max-width: 479px)
{
	.btn-black
	{
		line-height: 35px;
	}


	.header__logo-mob a
	{
		width: 120px;
	}

	.header-catalog__open svg
	{
		margin-top: -8px;
	}

	.header__btn + .header__btn
	{
		margin-left: 28px;
	}


	.first-section 
	{
		padding-top: 118px;
	}


	.tabs__button_btn
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	
	.reviews__name
	{
		font-size: 16px;
	}


	.portfolio .main-title._pad-right
	{
		padding-right: 0;
	}

	.portfolio__slider .slider-button-prev,
	.portfolio__slider .slider-button-next
	{
		display: none;
	}


	.main-news__item._big .main-news__img
	{
		aspect-ratio: 1;
	}

	.main-news__title
	{
		padding: 20px;
	}
	/*------------
		commit
	------------*/
	.main-about__colr{
		margin-top: 40px;
	}

	.main-about__name{
		font-size: 76px;
	}

	.products .tabs__button_btn {
		padding-left: 10px;
		padding-right: 10px;
		flex-grow: 1;
	}

	.first-section__title{
		font-size: 48px;
	}
}

@media (max-width: 389px)
{
	.main-info .tabs__button_icon{
		min-width: 80px;
	}

	.advantages__tabs .tabs__button_icon{
		min-width: 80px;
	}

	.tabs__button-icon {
		width: 50px;
		height: 50px;
	}

	.main-info .tabs__button-icon {
		width: 50px;
		height: 50px;
	}

	.tabs__button_icon{
		font-size: 12px;
	}
}