@media (max-width: 767px)
{
	.main-title,
	.page-title,
	.checkout-total__total-val
	{
		font-size: 30px;
	}

	.main-title._pad-right
	{
		padding-right: 0;
	}

	.header__logo-mob a
	{
		width: 140px;
		margin: 0 auto;
	}

	.first-section
	{
		padding-bottom: 20px;
	}


	.main-cats__wrap
	{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.main-cats__items
	{
		justify-content: flex-start;
		overflow: hidden;
		overflow-x: auto;

		max-width: calc(100% + 40px);
		width: auto;
		margin-right: -20px;
		margin-left: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-cats__items::-webkit-scrollbar{
		display: none;
	}

	.main-cats__item{
		flex-shrink: 0;
	}


	.main-purpose__img
	{
		aspect-ratio: 1;
	}


	.advantages__box
	{
		width: 100%;
	}

	.advantages__box + .advantages__box
	{
		margin-top: 30px;
	}

	.advantages__title
	{
		text-align: center;
	}

	.advantages__pad
	{
		padding-left: 0;
	}
	
	.advantages__img
	{
		max-width: 500px;
		margin: 0 auto;
	}

	.advantages__img span
	{
		border-radius: 50px;
	}

	.advantages__bg-logo
	{
		display: none;
	}

	.advantages__tabs
	{
		margin-top: 30px;
	}

	
	.footer__item
	{
		width: 100%;
	}

	.footer__col
	{
		width: calc(100% / 1 - 20px);
	}

	.footer__col._mob-width
	{
		width: calc(100% / 2 - 20px);
	}


	.footer__links
	{
		margin-left: 0;
	}

	.footer__link
	{
		width: 100%;
		margin-left: 0;
	}

	.footer__link + .footer__link
	{
		margin-top: 10px;
	}

	.footer__bot
	{
		display: block;
	}

	.footer__creator
	{
		margin-top: 10px;
	}


	.inner-cats__item 
	{
		width: calc(100% / 3 - 16px);
	}


	.products__grid .product 
	{
		width: calc(100% / 2 - 16px);
	}


	.contacts__col
	{
		width: 100%;
		max-width: 100%;
	}

	.contacts__col + .contacts__col
	{
		margin-top: 30px;
	}

	.consultation__flex
	{
		flex-wrap: wrap;
	}

	.consultation__flex .form__line
	{
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}


	.product-info__images
	{
		width: 100%;
	}

	.product-thumbs
	{
		width: 100%;
		order: 2;
		height: 100px;
		margin-top: 5px;
	}

	.swiper-slide
	{
		width: 100px;
	}

	.product-images
	{
		width: 100%;
	}

	.product-thumbs .slider-button-next,
	.product-thumbs .slider-button-prev
	{
		display: none;
	}

	.product-info__top
	{
		margin-bottom: 30px;
	}

	.product-info__favorite-box
	{
		width: 100%;
		margin-left: 0;
		margin-top: 15px;
	}

	.product-info__bg
	{
		padding-top: 0;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
	}

	.product-info__box-item
	{
		margin-top: 20px;
	}


	.product-info__btn
	{
		width: calc(50% - 10px);
	}

	.product-info__btn-width-mob
	{
		width: 100%;
	}

	.product-info__links
	{
		margin-top: 30px;
	}

	.product-info__links .product-info__link 
	{
		width: calc(100% / 1 - 20px);
		margin-top: 10px;
	}


	.cart-table td
	{
		width: calc(50% - 10px);
	}

	.cart-table__select
	{
		display: block;
	}

	.cart-table__select-name
	{
		margin-right: 0;
		margin-bottom: 10px;
	}

	.cart-table__size .cart-table__w,
	.cart-table__size .select-wrap
	{
		width: 100%;
	}
	
	.cart-table__prices-box
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.cart-table__old-price
	{
		margin-right: 10px;
	}

	.cart-table__price
	{
		margin-top: 0;
	}

	.cart-table__delete-btn
	{
		margin-left: auto;
	}


	.section-cart__items
	{
		margin-top: 0;
	}

	.section-cart__item
	{
		width: 100%;
		margin-top: 60px;
	}

	.points
	{
		text-align: left;
	}

	.points__flex
	{
		justify-content: flex-start;
	}


	.form__flex .form__line 
	{
		width: calc(100% / 1 - 16px);
	}

	.form__flex-w .form__line._big 
	{
		width: calc(100% - 16px);
	}

	.form__flex-w .form__line 
	{
		width: calc(50% - 16px);
	}

	.radio-big 
	{
		width: calc(100% / 1 - 16px);
	}

	.radio-big__label._height 
	{
		min-height: 160px;
	}

	.checkout-total__title
	{
		font-size: 24px;
	}


	.lk-modal__btn
	{
		display: block;
	}

	.lk-modal__modal 
	{
		position: absolute;
		top: calc(100% + 5px);
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		background: #fff;
		width: 100%;
	}

	.lk-page__links
	{
		display: block;
		border: 1px solid #DEDDDC;
	}

	.lk-page__link + .lk-page__link
	{
		margin-left: 0;
		border-top: 1px solid #DEDDDC;
	}

	.lk-page__link a
	{
		padding: 15px;
		border: none;
	}

	.lk-page__link a._active 
	{
		font-weight: 600;
	}


	.lk-page__form-flex
	{
		display: block;
		max-width: 300px;
	}

	.lk-page__form-flex .form__line + .form__line
	{
		margin-top: 20px;
		margin-left: 0;
	}

	.lk-page__form-flex .lk-page__form-flex-submit
	{
		margin-left: 0;
		margin-top: 20px;
		display: inline-block;
	}


	.orders-head
	{
		padding-right: 0;
		justify-content: space-between;
	}

	.orders-head__item
	{
		width: auto;
		padding-right: 0;
	}

	.orders-head__item:last-child
	{
		width: 100%;
		padding-right: 30px;
		margin-top: 10px;
	}

	.orders-head::after
	{
		top: auto;
		bottom: 25px;
		margin-top: 0;
	}

	.orders__col
	{
		width: 100%;
	}

	.orders__col + .orders__col
	{
		margin-top: 20px;
	}


	.certs__item
	{
		width: calc(100%/1 - 16px);
	}

	.certs__col
	{
		width: 100%;
	}

	.certs__col + .certs__col
	{
		margin-top: 10px;
	}


	.text-block h1.big-title 
	{
		font-size: 60px;
	}

	.text-block__col
	{
		width: 100%;
		max-width: 100%;
	}

	.text-block h5
	{
		font-size: 16px;
	}


	.about-page__items
	{
		margin-top: 10px;
	}

	.about-page__item-center 
	{
		width: calc(50% - 13px);
	}

	.about-page__item-right 
	{
		width: calc(50% - 13px);
		padding-top: 0;
	}


	.about-page__contacts 
	{
		margin-top: 10px;
	}


	.brand-concept__wrap
	{
		padding-top: 145%;
	}

	.brand-concept__items
	{
		position: static;
	}

	.brand-concept__item
	{
		position: static;
	}

	.brand-concept__data
	{
		position: static;
	}

	.brand-concept__info
	{
		width: 100%;
		padding-top: 0;
	}

	.brand-concept__small-box
	{
		position: relative;
		top: 0;
		width: 100%;
		margin-top: 30px;

		max-width: 100%;
	}

	.brand-concept__big-box
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		max-width: 100%;
	}


	.modal-size__col 
	{
		width: 100%;
		padding: 30px;
	}

	.modal-size__col:last-child
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	/*------------
		commit
	------------*/

	.main-about__item .cont{
		flex-direction: column;
		padding-top: 30px;
		padding-bottom: 30px;
		max-height: 774px;
	}

	.main-about__coll{
		width: 100%;
		max-width: none;
		padding-left: 10px;
	}

	.main-about__desc{
		margin-top: 20px;
	}

	.main-info__title{
		font-size: 30px;
	}

	.main-about__colr{
		margin: 52px 0 0;
		max-width: none;
		flex-grow: 1;
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
	}

	.main-about__img2 {
		height: calc(63% - 33px);
		margin-top: 33px;
	}

	.main-about__name {
		font-size: 80px;
		top: 22%;
	}


	.title-big{
		font-size: 40px;
	}

	.page-title._big {
		font-size: 40px;
	}

	.advantages-page__top-title{
		font-size: 24px;
	}

	.advantages-page{
		padding-top: 30px;
	}

	.advantages-page__top-title{
		width: 100%;
		position: static;
		max-width: none;
		margin-bottom: 40px;
	}

	.advantages-page__top-coll{
		width: 100%;
		order: 2;
	}

	.advantages-page__top-colr{
		width: 100%;
		margin-bottom: 40px;
		max-width: none;
	}

	.advantages-page__top-item{
		max-width: none;
	}

	.advantages-page__top-item._small{
		max-width: none;
	}

	.advantages-page__top-wrap .slider-pagination{
		display: flex;
	}

	.advantages-page__wrap .slider-pagination{
		display: flex;
	}


	.advantages-page__item{
		max-width: none;
	}

	.advantages-page__item._small{
		max-width: none;
	}

	.advantages-page__item._big{
		max-width: none;
		padding: 0;
	}

	.advantages-page__top-wrap{
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
	.advantages-page__wrap{
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
}