@media (max-width: 479px)
{
	.btn-black
	{
		line-height: 35px;
	}


	.header__logo-mob a
	{
		width: 120px;
	}

	.header-catalog__open svg
	{
		margin-top: -8px;
	}

	.header__btn + .header__btn
	{
		margin-left: 28px;
	}


	.first-section 
	{
		padding-top: 118px;
	}


	.tabs__button_btn
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	
	.reviews__name
	{
		font-size: 16px;
	}


	.portfolio .main-title._pad-right
	{
		padding-right: 0;
	}

	.portfolio__slider .slider-button-prev,
	.portfolio__slider .slider-button-next
	{
		display: none;
	}


	.main-news__item._big .main-news__img
	{
		aspect-ratio: 1;
	}

	.main-news__title
	{
		padding: 20px;
	}


	.inner-cats__item 
	{
		width: calc(100% / 2 - 16px);
	}

	.products__grid .product 
	{
		width: calc(100% / 1 - 16px);
	}

	.products__grid .product__img 
	{
		aspect-ratio: 350 / 380;
	}


	.product-info__select-name
	{
		font-size: 16px;
	}

	.select-wrap._width
	{
		width: 140px;
	}

	.product-info .btn-black
	{
		line-height: 40px;
	}


	.cart-table__info
	{
		align-self: flex-start;
	}
	/*------------
		commit
	------------*/
	.main-about__colr{
		margin-top: 40px;
	}

	.main-about__name{
		font-size: 76px;
	}

	.products .tabs__button_btn {
		padding-left: 10px;
		padding-right: 10px;
		flex-grow: 1;
	}

	.first-section__title{
		font-size: 48px;
	}


	.discounts__big-img {
		min-height: 466px;
	}

	.discounts__big-box{
		max-width: 290px;
	}

	.discounts__item{
		flex-wrap: wrap;
	}

	.discounts__item-img{
		width: 100%;
	}

	.discounts__item-box{
		width: 100%;
		padding: 30px 0 30px 30px;
	}

	.text-block__grid {
    	grid-template-columns: 1fr;
	}
}

@media (max-width: 389px)
{

	.mini-modal__btn-product
	{
		padding-right: 40px;
	}

	.mini-modal__btn-product::before
	{
		right: 20px;
	}

	/*------------
		commit
	------------*/

	.first-section__title {
		font-size: 46px;
	}

	.main-info .tabs__button_icon{
		min-width: 80px;
	}

	.advantages__tabs .tabs__button_icon{
		min-width: 80px;
	}

	.tabs__button-icon {
		width: 50px;
		height: 50px;
	}

	.main-info .tabs__button-icon {
		width: 50px;
		height: 50px;
	}

	.tabs__button_icon{
		font-size: 12px;
	}

	.discounts__big-box{
		max-width: 270px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.discounts__item-box{
		padding-left: 20px;
	}

	.discounts__sticker{
		left: 20px;
	}

	.discounts__slider .discounts__item-box{
		padding-left: 20px;
		padding-top: 20px;
	}
}